{% extends "layout.html" %}
    {%block contenido%}
<head>
    <title>Carro de Compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrito.css') }}">
</head>

    

    <div class="container">

        
        <aside class="sidebar">
            <h1>Carro de compras</h1>

            <div class="carrito-img">
                <img src="https://img.freepik.com/vector-premium/plantilla-vector-icono-carrito-compras-color-dorado_917138-3031.jpg">
            </div>
            
            <div class="total">
    TOTAL: <span id="total">0</span>
</div>
            

        <button class="pagar" onclick="irAPago()">
    PAGAR
</button>
        </aside>

        
        

        <main class="productos">
    <div id="carrito"></div>
</main>



        </main>
<script>
let carrito = JSON.parse(localStorage.getItem("carrito")) || [];

// MOSTRAR
function mostrarCarrito() {
    let contenedor = document.getElementById("carrito");
    contenedor.innerHTML = "";

    let total = 0;

    carrito.forEach((item, index) => {

        if(!item.cantidad){
        item.cantidad = 1;
    }

    let subtotal = item.precio * item.cantidad;

    total += subtotal;


        contenedor.innerHTML += `
            <div class="producto">

                <div class="imagen">
                    <img src="${item.imagen}" width="120">
                </div>

                <div class="info">

                    <h3 class="nombre">${item.nombre}</h3>

                    <p>${item.descripcion}</p>

                    <p class="precio" >Precio: ${formatear(item.precio)}</p>

                    <p class="sub">Subtotal: ${formatear(subtotal)}</p>

                    <p><strong>Talla:</strong> ${item.talla ? item.talla : "Sin talla"}</p>

                    <div class="cantidad">
                        <button onclick="cambiarCantidad(${index}, -1)">-</button>
                        <span>${item.cantidad}</span>
                        <button onclick="cambiarCantidad(${index}, 1)">+</button>
                    </div>

                    <button class="eliminar" onclick="eliminar(${index})">Eliminar</button>

                </div>
            </div>
        `;
    });

    document.getElementById("total").innerText = formatear(total);

    localStorage.setItem("carrito", JSON.stringify(carrito));
}

// AGREGAR
function agregarCarrito(nombre, precio, imagen, descripcion) {

    let productoExistente = carrito.find(item => item.nombre === nombre &&
    item.talla === tallas);

    if (productoExistente) {
        productoExistente.cantidad += 1;
    } else {
        carrito.push({
            nombre,
            precio: Number(precio),
            imagen,
            descripcion,
            talla: talla  || "sin talla",
            cantidad: 1
            
        });
    }

    localStorage.setItem("carrito", JSON.stringify(carrito));
    mostrarCarrito();
}

// CAMBIAR CANTIDAD
function cambiarCantidad(index, valor) {

    carrito[index].cantidad += valor;

    if (carrito[index].cantidad < 1) {
        carrito.splice(index, 1);
    }

    mostrarCarrito();
}

// ELIMINAR
function eliminar(index) {
    carrito.splice(index, 1);
    mostrarCarrito();
}

// FORMATO
function formatear(valor) {
    return valor.toLocaleString('es-CO');
}

// INICIAR
mostrarCarrito();
function formatear(valor) {
    return Number(valor).toLocaleString('es-CO');
}
function formatear(valor) {
    return "$ " + Number(valor).toLocaleString('es-CO');
}

function irAPago(){

    let carrito = JSON.parse(localStorage.getItem("carrito")) || [];

    if(carrito.length === 0){
        alert("Tu carrito está vacío");
        return;
    }

    window.location.href = "/pago";
}
</script>


{%endblock%}