{% extends "layout.html" %}
    {%block contenido%}
<head>
    <title>Detalle Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/descripcion.css') }}">
</head>
<body>

    <button class="volver" onclick="window.history.back()">
    ← Volver
</button>



    <section class="producto-container">

        <div class="galeria">
            <div class="imagen-principal">

                <img src="{{ producto.imagen }}">

            </div>

        </div>

        <!-- INFORMACION -->

        <div class="info-producto">

            <span class="nuevo">NUEVO</span>

            <h1>{{ producto.nombre }}</h1>

        <div class="estrellas">

    <span class="estrella" data-valor="1">☆</span>
    <span class="estrella" data-valor="2">☆</span>
    <span class="estrella" data-valor="3">☆</span>
    <span class="estrella" data-valor="4">☆</span>
    <span class="estrella" data-valor="5">☆</span>

</div>

<button type="button" class="enviarOpinion" onclick="enviarOpinion('{{ producto.id }}')">
    Enviar opinión
</button>

            <h2>$ {{ "{:,.0f}".format(producto.precio).replace(",", ".") }}</h2>

            <p class="descripcion">
                {{producto.descripcion}}
            </p>


        <!-- TALLAS -->
<div class="opciones">

    <h3>Talla:</h3>
    <div id="tallas-container" class="tallas"data-categoria="{{ producto.categoria | lower }}">
</div>

</div>



            <!-- CANTIDAD -->

            <div class="opciones">

                <h3 class="cantidad2">Cantidad:</h3>

            </div>
                    <div class="producto">
                    <button onclick="cambiarCantidad(this, -1)">-</button>
                    <span class="cantidad">1</span>
                    <button onclick="cambiarCantidad(this, 1)">+</button>
                </div>



            <!-- BOTONES -->
<button class="carrito" onclick="agregarCarrito(
    '{{ producto.nombre }}',
    '{{ producto.precio }}',
    '{{ producto.imagen }}',
    '{{ producto.descripcion }}',
    tallaSeleccionada
)">
    Agregar al carrito
</button>
</div>

            </div>

        </div>

    </section>

<script src="{{ url_for('static', filename='js/descripcion.js') }}"></script>



{%endblock%}

