{% extends "layout.html" %}
    {%block contenido%}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Serenity Mode</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<!--======================
        HERO
=======================-->

<section class="hero">

    <div class="hero-texto">

        

        <h1>
            Haz del estilo <br>
            tu mejor versión.
        </h1>

        <p>
            Descubre prendas que combinan 
            con tu estilo y tu actitud. ⭐
        </p>

        
        <button class="btn-principal" onclick="irCatalogo('p')">
            Comprar ahora
        </button>

    </div>

    <div class="hero-imagen">


        <img src="{{ url_for('static', filename='img/inicio_hombre.png') }}" alt="Hero">
        <img src="{{ url_for('static', filename='img/inicio_mujer.png') }}" alt="Hero">
        <img src="{{ url_for('static', filename='img/inicio_zapatos.png') }}" alt="Hero">

    </div>

</section>



<!--====================================
        BANNER
=====================================-->

<section class="banner">

    <div class="banner-contenido">

        <span>COLECCIÓN PREMIUM</span>

        <h2>
            Cada detalle refleja tu estilo..
        </h2>

        <p>

            En Serenity Mode encuentras  accesorios para expresar tu estilo con confianza

        </p>

        <button class="btn-principal" onclick="irCatalogo('accesorios')">
            Accesorios
        </button>


    </div>

    <div class="hero2-imagen">

        <img class="img-baner" src="{{ url_for('static', filename='img/accesorio_reloj (1).png') }}" alt="Hero">
        <img class="img-baner" src="{{ url_for('static', filename='img/accesorio_reloj (2).png') }}" alt="Hero">
        <img class="img-baner" src="{{ url_for('static', filename='img/accesorio_reloj (3).png') }}" alt="Hero">
        

    </div>

</section>

<!--====================================
        PRODUCTOS DESTACADOS
=====================================-->


    <section class="productos">

    <div class="titulo-seccion">

        <span>DESTACADOS</span>

        <h2>Nuestros favoritos</h2>

        <p>
            Descubre las prendas y accesorios más populares de Serenity Mode.
        </p>

    </div>

    <div class="contenedor-productos" id="productos-destacados">

    </div>

</section>



<!--====================================
        EXPERIENCIA SERENITY
=====================================-->

<section class="experiencia">

    <div class="experiencia-overlay"></div>

    <div class="experiencia-contenido">

        <span>EXCLUSIVIDAD</span>

        <h2>Más que una tienda,<br>una experiencia de estilo.</h2>

        <p>
            En Serenity Mode creemos que cada detalle cuenta.
            Descubre prendas, calzado y accesorios cuidadosamente seleccionados
            para reflejar elegancia, calidad y personalidad.
        </p>

        <a  href="{{ url_for('productos.index') }}" class="btn-principal">
            Descubrir Productos
        </a>

    </div>

</section>



<!--====================================
        BENEFICIOS
=====================================-->

<section class="beneficios">

    <div class="titulo-seccion">

        <span>¿POR QUÉ ELEGIRNOS?</span>

        <h2>Comprometidos contigo</h2>

    </div>

    <div class="contenedor-beneficios">

        <div class="beneficio1">

            <i class="fa-solid fa-credit-card"></i>

            <h3>Pago Seguro</h3>

            <p>
                Compra con confianza mediante métodos de pago protegidos.
            </p>

        </div>


        <div class="beneficio">

            <i class="fa-solid fa-headset"></i>

            <h3>Atención Personalizada</h3>

            <p>
                Nuestro equipo está disponible para ayudarte en cada compra.
            </p>

        </div>

        <div class="beneficio">

            <i class="fa-solid fa-arrow-rotate-left"></i>

            <h3>Devoluciones</h3>

            <p>
                Compra con tranquilidad gracias a nuestro proceso de devolución.
            </p>

        </div>

    </div>

</section>

<!--====================================
        ESTADÍSTICAS
=====================================-->

<section class="estadisticas">

    <div class="estadistica">

        <i class="fa-solid fa-shirt"></i>

        <h2>500+</h2>

        <p>Productos</p>

    </div>

    <div class="estadistica">

        <i class="fa-solid fa-users"></i>

        <h2>15K+</h2>

        <p>Clientes felices</p>

    </div>

    <div class="estadistica">

        <i class="fa-solid fa-truck-fast"></i>

        <h2>24H</h2>

        <p>Envíos rápidos</p>

    </div>

    <div class="estadistica">

        <i class="fa-solid fa-award"></i>

        <h2>100%</h2>

        <p>Calidad garantizada</p>

    </div>

</section>





    <script src="{{ url_for('static', filename='js/inicio.js') }}"></script>
</body>

{%endblock%}