{% extends "layout.html" %}
    {%block contenido%}
<head>
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </div>
</head>
<body>
    <aside class="menu">
        <div class="serenity">Serenity Mode</div>
        <img src="{{ url_for('static', filename='img/serenity.png') }}" class="img"> 
        <div class="frases">Crea tu estilo, Vive Serenity Mode</div>
    </aside>    
            <form>
                <h1>login</h1>
                <h2 class="nombres">Nombre de Usuario</h2>
                <input type="text" placeholder="Juan Perez" class="nombre">
                <h2 class="Contraseña">Contraseña</h2>
                <input type="password" placeholder="M45418872" class="password">
                <input type="button"  value="Ingresar" class="button">
                <h3>Iniciar sección con:   </h3>
                <input type="button " value="Facebook 📘" class="buttonf">
                <input type="button" value="Google 🔎" class="buttong" >
                <input type="button" value="¿ Olvidaste tu contraseña?" class="buttono">
            </form>

    </main>
    
{%endblock%}