<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Registro</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <aside class="menu">
            <div class="serenity">Serenity Mode</div>
            <img src="serenity.PNG" alt="logo serenity mode" class="img">
            <div class="frase">Crea tu estilo, Vive Serenity Mode</div>
            <img src="fondo.jpg" class="fondo"></a>
        </aside>
        <main>
            <h1>Registro</h1>
            <h3 class="nombre">Nombre</h3>
            <input type="placeholder" class="nombres" required >
            <h3 class="apellido">Apellido</h3>
            <input type="placeholder" class="apellidos" required >
            <h3 class="nacimiento">Fecha de Nacimiento</h3>
            <input type="date" class="fecha" required >
            <h3 class="contraseña">Contraseña</h3>
            <input type="password" class="password" required >
            <h3 class="terminos">Acepto los Terminos y Condiciones</h3>
            <input type="checkbox" class="checkbox" required >
            <input type="button" class="ingresar" value="Ingresar">
            <input type="button" class="cancelar" value="Cancelar">           
            <h2 class="registrasecon"> O Registrate con</h2>
            <input value="Google" type="button" class="g">
            <input value="Facebook" type="button" class="f">

        </main>    

    </body>

</html>
