{% extends "layout.html" %}
    {%block contenido%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/usuario.css') }}">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<title>MI Cuenta</title>


<div class="usuario-container">

    <!--=========================
            PERFIL
    ==========================-->

    <section class="perfil">

        <div class="perfil-info">

            <div class="foto">
                <img src="{{ url_for('static', filename='img/user.jpg') }}" alt="">
            </div>

            <div class="datos">

                <h1>{{ usuario.nombre_cliente }}</h1>

            <p>
                <i class="fa-regular fa-envelope"></i>
                {{ usuario.email_cliente }}
            </p>
            </div>

        </div>

        <div class="perfil-botones">

            <button class="btn-dorado" id="abrirPerfil">
                <i class="fa-regular fa-user"></i>
                Editar Perfil
            </button>

            <button class="btn-outline"  id="abrirPassword">
                <i class="fa-solid fa-lock"></i>
                Cambiar contraseña
            </button>

        </div>

    </section>


    <!--=========================
          ESTADÍSTICAS
    ==========================-->

    <section class="estadisticas">

        <div class="card-stat">

            <div class="icono">
                <i class="fa-solid fa-bag-shopping"></i>
            </div>

            <div>

                <span>Total pedidos</span>

                <h2>18</h2>

            </div>

        </div>

        <div class="card-stat">

            <div class="icono">
                <i class="fa-solid fa-wallet"></i>
            </div>

            <div>

                <span>Total gastado</span>

                <h2>$2.480.000</h2>

            </div>

        </div>

        <div class="card-stat">

            <div class="icono">
                <i class="fa-solid fa-truck"></i>
            </div>

            <div>

                <span>Último pedido</span>

                <h2>#SM-2058</h2>

            </div>

        </div>

        <div class="card-stat">

            <div class="icono">
                <i class="fa-solid fa-star"></i>
            </div>

            <div>

                <span>Puntos Serenity</span>

                <h2>1260</h2>

            </div>

        </div>

    </section>


    <!--=========================
     INFORMACIÓN + DIRECCIONES
    ==========================-->

    <section class="info-grid">

        <div class="card">

            <h2>Información Personal</h2>

            <div class="info-item">

                <span>Nombre</span>

                <p>Mauricio Moreno</p>

            </div>

            <div class="info-item">

                <span>Email</span>

                <p>mauricio@email.com</p>

            </div>

            <div class="info-item">

                <span>Teléfono</span>

                <p>3102456789</p>

            </div>

            <div class="info-item">

                <span>Fecha nacimiento</span>

                <p>05/09/2007</p>

            </div>

            <div class="info-item">

                <span>Dirección</span>

                <p>Bogotá, Colombia</p>

            </div>

        </div>


        <div class="card">

            <h2>Direcciones Guardadas</h2>

            <div class="direccion">

                <i class="fa-solid fa-house"></i>

                <div>

                    <h4>Dirección principal</h4>

                    <p>

                        Carrera 11 #93A-45

                        <br>

                        Bogotá, Colombia

                    </p>

                </div>

            </div>

            <button class="btn-outline">

                Administrar

            </button>

        </div>

    </section>


    <!--=========================
        ÚLTIMOS PEDIDOS
    ==========================-->

    <section class="card pedidos">

        <h2>Últimos pedidos</h2>

        <table>

            <thead>

                <tr>

                    <th>Pedido</th>

                    <th>Fecha</th>

                    <th>Estado</th>

                    <th>Total</th>

                </tr>

            </thead>

            <tbody>

                <tr>

                    <td>#SM-2058</td>

                    <td>20 Mayo 2026</td>

                    <td>

                        <span class="estado entregado">

                            Entregado

                        </span>

                    </td>

                    <td>$680.000</td>

                </tr>

                <tr>

                    <td>#SM-2057</td>

                    <td>15 Mayo 2026</td>

                    <td>

                        <span class="estado camino">

                            En camino

                        </span>

                    </td>

                    <td>$1.250.000</td>

                </tr>

                <tr>

                    <td>#SM-2056</td>

                    <td>8 Mayo 2026</td>

                    <td>

                        <span class="estado preparando">

                            Preparando

                        </span>

                    </td>

                    <td>$550.000</td>

                </tr>

            </tbody>

        </table>

    </section>


    <!--=========================
      MÉTODOS DE PAGO
    ==========================-->

    <section class="card">

        <h2>Métodos de Pago</h2>

        <div class="tarjetas">

            <div class="tarjeta visa">

                <h3>VISA</h3>

                <span>**** **** **** 4242</span>

                <p>Vence 08/26</p>

            </div>

            <div class="tarjeta master">

                <h3>Mastercard</h3>

                <span>**** **** **** 8888</span>

                <p>Vence 11/27</p>

            </div>

            <button class="agregar"  id="abrirPago">

                <i class="fa-solid fa-plus"></i>

                Agregar método

            </button>

        </div>

    </section>

</div>

<!--==================================
        MODAL EDITAR PERFIL
===================================-->

<div class="modal" id="modalPerfil">

    <div class="modal-contenido">

        <div class="modal-header">

            <h2>Editar Perfil</h2>

            <button class="cerrar-modal">&times;</button>

        </div>

        <form action="#" method="POST">

            <div class="grupo-input">

                <label>Nombre</label>

                <input
                    type="text"
                    name="nombre"
                    value="Mauricio Moreno">

            </div>

            <div class="grupo-input">

                <label>Correo</label>

                <input
                    type="email"
                    name="correo"
                    value="mauricio@email.com">

            </div>

            <div class="grupo-input">

                <label>Teléfono</label>

                <input
                    type="text"
                    name="telefono"
                    value="3102456789">

            </div>

            <div class="grupo-input">

                <label>Dirección</label>

                <input
                    type="text"
                    name="direccion"
                    value="Bogotá, Colombia">

            </div>

            <div class="acciones-modal">

                <button
                    type="button"
                    class="btn-outline cerrar">

                    Cancelar

                </button>

                <button
                    type="submit"
                    class="btn-dorado">

                    Guardar Cambios

                </button>

            </div>

        </form>

    </div>

</div>

<!--==================================
    MODAL CAMBIAR CONTRASEÑA
===================================-->

<div class="modal" id="modalPassword">

    <div class="modal-contenido">

        <div class="modal-header">

            <h2>Cambiar Contraseña</h2>

            <button class="cerrar-modal">&times;</button>

        </div>

        <form action="#" method="POST">

            <div class="grupo-input">

                <label>Contraseña actual</label>

                <input
                    type="password"
                    name="actual">

            </div>

            <div class="grupo-input">

                <label>Nueva contraseña</label>

                <input
                    type="password"
                    name="nueva">

            </div>

            <div class="grupo-input">

                <label>Confirmar contraseña</label>

                <input
                    type="password"
                    name="confirmar">

            </div>

            <div class="acciones-modal">

                <button
                    type="button"
                    class="btn-outline cerrar">

                    Cancelar

                </button>

                <button
                    type="submit"
                    class="btn-dorado">

                    Actualizar

                </button>

            </div>

        </form>

    </div>

</div>

<!--==================================
    MODAL MÉTODO DE PAGO
===================================-->

<div class="modal" id="modalPago">

    <div class="modal-contenido">

        <div class="modal-header">

            <h2>Agregar Método de Pago</h2>

            <button class="cerrar-modal">&times;</button>

        </div>

        <form action="#" method="POST">

            <div class="grupo-input">

                <label>Número de tarjeta</label>

                <input
                    type="text"
                    placeholder="0000 0000 0000 0000">

            </div>

            <div class="grupo-input">

                <label>Nombre del titular</label>

                <input
                    type="text"
                    placeholder="Mauricio Moreno">

            </div>

            <div class="fila">

                <div class="grupo-input">

                    <label>Fecha</label>

                    <input
                        type="text"
                        placeholder="08/28">

                </div>

                <div class="grupo-input">

                    <label>CVV</label>

                    <input
                        type="password"
                        placeholder="123">

                </div>

            </div>

            <div class="acciones-modal">

                <button
                    type="button"
                    class="btn-outline cerrar">

                    Cancelar

                </button>

                <button
                    type="submit"
                    class="btn-dorado">

                    Agregar

                </button>

            </div>

        </form>

    </div>

</div>

<script src="{{ url_for('static', filename='js/usuario.js') }}"></script>


{%endblock%}
