*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: #252525;;
}

/* CONTENEDOR GENERAL */

.container{
    display:flex;
    min-height:100vh;
}

/* SIDEBAR */

.sidebar{
    width:320px;
    background:#000;
    color:white;
    padding:40px 30px;
    position:sticky;
    top:0;
    height:100%;
}

.titulo-carrito{
    font-size:38px;
    font-style:italic;
    margin-bottom:10px;
    text-align: center;
}

.titulo-carrito span{
    color:#c7a85d;
}

.resumen{
    color:#aaa;
    margin-bottom:40px;
    text-align: center;
}

.carrito-img{
    width: 100%;
    font-size: 220px;
    align-items: center;
    margin-bottom:40px;
    margin-top: 50px;
    margin-right: -35%;
}

.carrito-img i{
    width:100%;
    max-width:250px;
    height: 100px;
    margin-top: 70px;
    color:#c7a85d;
}

.line{
    width:100%;
    height:1px;
    background:#222;
    margin:30px 0;
}

.total p{
    color:#aaa;
    font-size:18px;
    margin-bottom: 10px;
}

.total h2{
    font-size:min(45px, 2.5vw);
    margin-top:10px;
}


.pagar{
    width:100%;
    padding:18px;
    border:none;
    background:#c7a85d;
    color:black;
    font-size:17px;
    font-weight:bold;
    border-radius:12px;
    cursor:pointer;
    margin-top:35px;
    transition:.3s;
}

.pagar:hover{
    background:#d8bc79;
}

.link-soporte{
    text-decoration:none;
}

.soporte{
    width:100%;
    padding:16px;
    border:none;
    background:#fff;
    color:#000;
    font-size:16px;
    border-radius:12px;
    cursor:pointer;
    margin-top:15px;
    transition:.3s;
}

.soporte:hover{
    background:#e5e5e5;
}

.seguro{
    margin-top:35px;
    color:#c7a85d;
    display:flex;
    gap:10px;
    align-items:center;
    font-size:18px;
    margin-left: 12px;
}

/* PRODUCTOS */

.productos{
    flex:1;
    padding:50px;
}

.titulo-productos{
    font-size:35px;
    margin-bottom:40px;
    color:#111;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background:#c7a85d
}

/* CARD PRODUCTO */

.producto{
    background:#111;
    border-radius:25px;
    padding:25px;
    display:flex;
    gap:30px;
    margin-bottom:30px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    align-items:center;
    color: #f7f7f7;
}

/* IMAGEN */

.imagen{
    width:260px;
    height:260px;
    background:#f7f7f7;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    flex-shrink:0;
}

.imagen img{
    width:100%;
    height:100%;
    object-fit:contain;
}

/* INFO */

.info{
    flex:1;
}

.info-top{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    color: #f7f7f7;
}

.nombre{
    font-size:32px;
    color:#111;
    margin-bottom:10px;
    color: #f7f7f7;
}

.descripcion{
    color:#666;
    line-height:1.6;
    margin-bottom:15px;
}

.talla{
    color:#444;
    margin-bottom:10px;
}

.info-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:25px;
}

/* PRECIOS */

.precio{
    color:#c7a85d;
    font-size:22px;
    font-weight:bold;
}

.sub{
    margin-top:8px;
    color:#666;
}

/* CANTIDAD */

.cantidad{
    display:flex;
    align-items:center;
    gap:15px;
}

.cantidad button{
    width:42px;
    height:42px;
    border:none;
    border-radius:10px;
    background:black;
    color:white;
    font-size:20px;
    cursor:pointer;
}

.cantidad span{
    font-size:20px;
    font-weight:bold;
}

/* ELIMINAR */

.eliminar{
    margin-top: 0;
    width:65px;
    height:45px;
    border:none;
    border-radius:12px;
    background:#111;
    color:white;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.eliminar:hover{
    background:#c0392b;
}

/* OCULTAR ELEMENTOS DEL LAYOUT */

.frase,
.search-box,
.footer,
.Serenity{
    display:none;
}