*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    overflow-y:auto;
}

.container{
    display:flex;
    align-items:stretch;
}

.sidebar{
    width:30%;
    background:black;
    color:white;
    padding:30px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.sidebar h1{
    font-size:35px;
    margin-bottom:40px;
    text-align: center;
}

.carrito-img{
    width: 100%;
    height: 250px;
    align-items: center;
    margin-bottom:40px;
    margin-top: 50px;
    margin-right: -35%;
}


#total{
    font-size:35px;
    text-align: center;
}


.total{
    font-size:30px;
    text-align:center;
    margin-top:120px;
}

.pagar{
    margin-top:30px;
    font-size:28px;
    cursor:pointer;
    background:#c7a85d;
    color:#eee;
    border:none;
    border-radius:12px;
    padding:12px 20px;
    width:100%;
}
.productos{
    width:70%;
    padding:40px;
}


.producto{
    display:flex;
    margin-bottom:40px;
}
.producto3{
    display:flex;
    
}

.imagen{
    border:2px solid black;
    width:300px;
    height: auto;
    display:flex;
    align-items:center;
    justify-content:center;
    background:white;
    overflow:hidden;
}

.carrito-img img{
    width:100%;
    max-width:250px;
    margin-top: 70px;
}


.info{
    margin-left:30px;
    width:100%;
    background:black;
    color:white;
    padding:20px;
    border-radius:15px;
    line-height:30px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    top:10px;
}


.descripcion{
    font-size:15px;
    margin-bottom:15px;
}



.precio , .nombre{
    color: #c7a85d;
    font-size: 20px;
}

.frase{
    visibility: hidden;
}

.search-box{
    visibility: hidden;
}
.cantidad button{
    width:45px;
    height:45px;
    border:none;
    background:#eee;
    border-radius:8px;
    cursor:pointer;
    font-size:30px;
}
.cantidad{
    display:flex;
    align-items:center;
    gap:30px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 250px;
}

.eliminar{
    height:40px;
    padding:0 45px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background: #c7a85d;
    color:white;
    
}
.sub{
    font-size: 15px;
}
h1{
    font-style: italic;
}
span , .total{
    font-style: italic;
}
.total{
    font-size: 30px;
}
.h1{
    margin-top: 30px;
    margin-left: 30px;
}
.topbar{
    background: #000;
    width: 100%;
    height: 50px;
    margin-top: 0;
    position: fixed;
    z-index: 1000;

}
