*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background:#e8e3dc;

}
.line{
    background: white;
    width: 80%;
    height: 1px;
}
.line-imag{
    height: 20px;
    width: 30px;
    display: inline-block;
    padding: 10px 100px;
    background-color: black;
}
.line-imag2{
    height: 20px;
    width: 30px;
    padding: 10px 105px;
    background-color: black;
    float:right;
}

.serenity_mode{
    background: black;
    width: 1000px;
    height: 400px;
    margin-left: 230px;
    color: goldenrod;
    font-size: 150px;
    text-align: center;
    
    
}

p{
    text-align: justify;
    margin-top: 5px;
    font-style: italic;

}
.line2{
    background: grey;
    width: 80%;
    height: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 180px ;
}
.frases{
    font-size: 20px;
    color: white;
    text-align: center;
}
.zapatos-container {
    display: flex;
    align-items: center; 
    gap: 80px;
    margin-left: 180px; 
}
.zapatos-img {
    width: 150px; 
    height: auto; 
}
.ropa-container{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-left: 180px;
    margin-top:20px ;

}
.ropa-img{
    width:150px ;
    height:120px ;
}
.boton-ver-catalogo{
    display:inline-block;
    padding:14px 40px;
    background:#c7a85d;
    color:black;
    border:none;
    border-radius:12px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.boton-ver-catalogo:hover{
    background:black;
    color:white;
}


.frase{
    visibility: hidden;
}
.accesorios{
    display:flex;
    align-items:center;
    gap:80px;
    margin-left:180px;
    margin-top:20px;
    margin-bottom:80px;
}
.line3{
    background:grey;
    width:80%;
    height:3px;
    margin-left:180px;
    margin-top:50px;
    margin-bottom:50px;
}
.accesorios-texto{
    padding-right: 30px;
}
.user{
    position:absolute;
    left:55%;
    transform:translate(-50%, -120%);
}
.Serenity{
    visibility: hidden;
}
.search-box{
    visibility: hidden;
}