*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    display:flex;
}

.sidebar{
    width:220px;
    background:black;
    color:white;
    min-height:100vh;
    padding:30px 20px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:15px 10px;
    margin-bottom:10px;
    cursor:pointer;
}

.sidebar li.active{
    background:#dcdcdc;
    color:black;
    border-radius:20px;
}



.products{
    flex:1;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:30px;
    
}

.card{
    background:#f2ede6;
    padding:20px;
    border-radius:20px;
}

.card img {
    width: 100%;
    height: 200px;       /* 🔥 altura fija */
    object-fit: cover;   /* 🔥 recorta sin deformar */
    border-radius: 20px;
    margin-bottom: 10px;
}

.price{
    font-size: 25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.producto{
    background:#c7a85d;
    color:white;
    padding:5px 30px;
    border-radius:20px;
    font-size: 25px;
}
.producto button {
    background: none;   
    border: none;       
    color: white;       
    font-size: 25px;
    cursor: pointer;
}
.carrito{
padding: 10px 60px;
background:#c7a85d;
color: white;
margin-top: 20px;
margin-left: 110px;
font-size: 20px;
border-radius: 20px;
}
h2{
    padding: 0;
    margin: 0;
}
.frase{
    margin-left: 50%;
}

.usuario{
    padding: 10px;
    width: 180px;
    font-size: 18px;
    border-radius: 20px;
    text-align:start;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 10px;
}
.usuario-container{
    position:absolute;
    z-index: 1000;
}

.menu-btn {
    background:none;
    border:none;
    color:white;
    font-size:24px;
    cursor:pointer;
    margin: 15px;
    margin-left: 30px;
    
}
.menu-dropdown{
    display:none;
    position:absolute;
    top:40px;
    left:0px;
    background:black;
    border:1px solid #c7a85d;
}

.usuario-menu {
    display:none;
    position:absolute;
    top:40px;
    margin-left: 50px;
    background:black;
    border:1px solid #c7a85d;
}
.usuario-menu a{
    display:block;
    padding:10px 20px;
    text-decoration:none;
    color:white;
}

.usuario-menu a:hover{
    background:#333;
}

.menu-dropdown a{
    display:block;
    padding:10px 20px;
    text-decoration:none;
    color:white;
    z-index: 1000;
}

.menu-dropdown a:hover{
    background:#333;
}

.menu, .user{
    font-size:22px;
}
.home{
    padding: 10px 70%;
    font-size: 18px;
    border-radius: 20px;
    text-align:start;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20px;
}
.home-container{
    position:absolute;
    z-index: 1000;
}
.home-menu {
    display:none;
    position:absolute;
    top:0px;
    margin-left: 190px;
    background:black;
    border:1px solid #c7a85d;

}
.home-menu a{
    display:block;
    padding:10px 20px;
    text-decoration:none;
    color:white;
}

.home-menu a:hover{
    background:#333;
}
.menu-container{
    position:absolute;
    z-index: 1000;

}
.user-container{
    position:absolute;
    z-index: 1000;
}


.user-menu{
    visibility: hidden;
}
.user-menu a{
    visibility: hidden;
}

.user-menu a:hover{
    visibility: hidden;
}


.menu, .user{
    visibility: hidden;
}

.user{
    visibility: hidden;
}
.todos, .dama , .caballero, .accesorios, .zapatos{
    padding: 10px;
    width: 180px;
    font-size: 18px;
    border-radius: 20px;
    text-align:start;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 20px;
    background:  #c7a85d;
}
.frase{
    visibility: hidden;
}
.zapatos{
    margin-bottom: 20px;
}
.opinion{
    color: black;
    font-size: 20px;

}
.estrellas {
    color: gold;
    font-size:35px;
    align-items: center;
}