/*==================================
        FUENTES
==================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

/*==================================
        BODY
==================================*/

body{

    background:#111;
    color:#fff;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

}

/*==================================
        CONTENEDOR
==================================*/

.contenedor{

    width:100%;
    min-height:100vh;

    display:grid;
    grid-template-columns:1fr 1fr;

    background:#151515;

}

/*==================================
        LADO IZQUIERDO
==================================*/

.lado-izquierdo{

    width:100%;
    overflow:hidden;


}

.lado-izquierdo img{

    width:100%;
    height:100%;
    object-fit:cover;
}

/*==================================
        LADO DERECHO
==================================*/

.lado-derecho{

    display:flex;
    flex-direction:column;
    justify-content:center;

    padding:60px 90px;

}

.lado-derecho h1{

    color:#c9b26a;
    font-size:60px;
    text-align:center;

}

.subtitulo{

    text-align:center;
    color:#cfcfcf;
    margin-top:5px;
    margin-bottom:35px;

}

.lado-derecho h2{

    text-align:center;
    margin-bottom:30px;
    font-size:36px;

}

/*==================================
        FORMULARIO
==================================*/

form{

    width:100%;

}

.input-box{

    width:100%;
    height:60px;

    background:#222;

    border-radius:14px;

    display:flex;
    align-items:center;

    padding:0 20px;

    margin-bottom:18px;

    transition:.3s;

}

.input-box:hover{

    border:1px solid #c9b26a;

}

.input-box i{

    color:#bda56a;
    font-size:18px;
    width:30px;

}

.input-box input{

    flex:1;

    height:100%;

    border:none;
    outline:none;

    background:transparent;

    color:white;

    font-size:16px;

}

.input-box input::placeholder{

    color:#9b9b9b;

}

.ojo{

    cursor:pointer;
}

/*==================================
        FECHA
==================================*/

input[type="date"]{

    color:#bdbdbd;

}

/*==================================
        TERMINOS
==================================*/

.terminos{

    display:flex;
    align-items:center;

    gap:8px;

    margin:18px 0 25px;

    font-size:15px;

}

.terminos a{

    color:#c9b26a;
    text-decoration:none;
}

.terminos a:hover{

    text-decoration:underline;

}

/*==================================
        BOTON
==================================*/

.btn-registro{

    width:100%;
    height:58px;

    border:none;

    border-radius:14px;

    background:#c9b26a;

    color:white;

    font-size:20px;

    font-weight:600;

    cursor:pointer;

    transition:.4s;

}

.btn-registro:hover{

    background:#d8c27d;

    transform:translateY(-2px);

    box-shadow:0 10px 25px rgba(201,178,106,.35);

}

/*==================================
        LOGIN
==================================*/

.login{

    margin-top:35px;

    text-align:center;

}

.login span{

    color:#bfbfbf;

}

.login a{

    color:#c9b26a;

    font-weight:600;

    text-decoration:none;

}

.login a:hover{

    text-decoration:underline;

}

/*==================================
        ADMIN
==================================*/

.admin{

    margin-top:18px;

    text-align:center;

}

.admin a{

    color:#d2b9ff;

    text-decoration:none;

}

.admin i{

    margin-right:6px;

}

/*==================================
        ANIMACION
==================================*/

@keyframes flotar{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-10px);

    }

    100%{

        transform:translateY(0);

    }

}

/*==================================
        RESPONSIVE
==================================*/

@media(max-width:1000px){

    .contenedor{

        grid-template-columns:1fr;

    }

    .lado-izquierdo{

        display:none;

    }

    .lado-derecho{

        padding:40px;

    }

    .lado-derecho h1{

        font-size:45px;

    }

}

@media(max-width:600px){

    .lado-derecho{

        padding:25px;

    }

    .lado-derecho h1{

        font-size:38px;

    }

    .lado-derecho h2{

        font-size:28px;

    }

}