*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f7f5f2;
    padding: 40px;
    color: #222;
}

.contenedor{
    max-width: 1400px;
    margin: auto;
}

h1{
    font-size: 55px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background: #000;
    color: #9f7d4c;
}

.subtitulo{
    color: #666;
    margin-bottom: 35px;
    font-size: 18px;
    text-align: center;
    background: #000;
    color: white;
}

.card{
    background: white;
    border-radius: 18px;
    border: 1px solid #e8e3dc;
    padding: 35px;
    margin-bottom: 25px;
}

.perfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.usuario{
    display: flex;
    align-items: center;
    gap: 25px;
}

.usuario img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.info h2{
    font-size: 38px;
    margin-bottom: 10px;
}

.info p{
    margin-bottom: 10px;
    color: #555;
    font-size: 17px;
}

.estadisticas{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

.dato h3{
    color: #9f7d4c;
    margin-bottom: 10px;
    font-size: 15px;
}

.dato p{
    font-size: 35px;
    font-weight: bold;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.titulo-card{
    font-size: 28px;
    margin-bottom: 25px;
}

.texto{
    color: #555;
    line-height: 1.8;
    font-size: 17px;
}

.pedido{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.pedido-info{
    display: flex;
    align-items: center;
    gap: 20px;
}

.pedido img{
    width: 90px;
    border-radius: 12px;
}

.precio{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.estado{
    background: #dff0dd;
    color: #3d7a3d;
    padding: 8px 15px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 12px;
    font-size: 14px;
}

button{
    background: black;
    color: white;
    border: none;
    padding: 16px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

button:hover{
    opacity: .9;
}
.emoji{
    font-size: 85px;
}
.topbar{
    visibility: hidden;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.frase{
    visibility: hidden;
}